html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  line-height: 1.3;
}

ol,
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

/* Display Flex */
.d--f {
  display: flex;
}

/* Center All */
.f--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Flex direction */
.fd--r {
  flex-direction: row;
}

.fd--rr {
  flex-direction: row-reverse;
}

.fd--c {
  flex-direction: column;
}

.fd--cr {
  flex-direction: column-reverse;
}

/* Justify content */
.jc--fe {
  justify-content: flex-end;
}

.jc--fs {
  justify-content: flex-start;
}

.jc--c {
  justify-content: center;
}

.jc--sa {
  justify-content: space-around;
}

.jc--sb {
  justify-content: space-between;
}

/* Align items */
.ai--fs {
  align-items: flex-start;
}

.ai--c {
  align-items: center;
}

.ai--fe {
  align-items: flex-end;
}

/* Align Self */
.as--fs {
  align-self: flex-start;
}

.as--fe {
  align-self: flex-end;
}

.as--c {
  align-self: center;
}

#header {
  height: 100%;
  width: 100%;
  background-color: rgb(249, 187, 68);
}

.nav-bar {
  width: 100%;
  min-height: 13vmin;
  gap: 10rem;
  padding: 1em 10%;
  font-weight: 400;
  font-size: 0.8rem;
  position: fixed;
  z-index: 9999;
  background-color: rgb(249, 187, 68);
}
.nav-bar a,
.nav-bar .puma-logo {
  transition: all 0.3s ease;
}
.nav-bar a:hover,
.nav-bar .puma-logo:hover {
  color: white;
}
.nav-bar span {
  cursor: pointer;
}
.nav-bar span:hover {
  font-weight: bold;
}
.nav-bar .puma-logo {
  height: auto;
  width: 3.5rem;
  cursor: pointer;
}
.nav-bar .nav-links {
  flex: 1;
}
.nav-bar .page-links {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.toggle-button {
  position: absolute;
  top: 1.4rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.main {
  padding: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 0.9;
}
.main::before {
  content: "";
  position: absolute;
  height: 35vw;
  width: 35vw;
  background-color: rgb(235, 224, 162);
  border-radius: 50%;
  transform: translate(0vw, 15%);
}
.main h1 {
  font-size: 14vw;
  z-index: 1;
}
.main .puma {
  align-self: flex-start;
  margin-top: 9vw;
  margin-left: -15%;
}
.main .thunder {
  margin-left: 10%;
}
.main div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main div img {
  position: relative;
  height: auto;
  width: 50vw;
  top: -2vw;
  z-index: 2;
}
.main div h1 {
  font-size: 14vw;
  z-index: 1;
}

.overview-container {
  position: relative;
}
.overview-container .video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: brightness(30%);
}
.overview-container .overview-text {
  font-size: 2.4vw;
  padding: 10%;
  color: white;
  text-align: center;
}

.collection-container-main {
  padding-top: 2rem;
  background-color: rgb(249, 187, 68);
  width: 100%;
}
.collection-container-main h1 {
  width: 100%;
  text-align: center;
  font-size: 4vw;
}

.collection-container-item {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 0 5rem 0;
  width: 100%;
}
.collection-container-item h3 {
  position: relative;
  color: black;
  background-color: rgb(255, 244, 225);
  border-radius: 1rem;
  font-size: 1.5vw;
  padding: 1rem;
  margin: 1.7em;
}
.collection-container-item .collection {
  color: rgb(255, 244, 225);
  font-size: 2rem;
  background-position-x: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  height: 50vmin;
  width: 50vmin;
  max-width: 50vmin;
  max-height: 50vmin;
  min-width: 50vmin;
  min-height: 50vmin;
}
.collection-container-item .bg-spectra {
  background-image: url(/images/spectra/kj.jpg);
}
.collection-container-item .bg-desert {
  background-image: url(/images/desert/Puma-Thunder-Desert-06.jpg);
}
.collection-container-item .bg-bw {
  background-image: url(/images/bw/212.webp);
}

.form {
  background-color: rgb(255, 244, 225);
  padding: 15% 15%;
}

form {
  background-color: rgb(255, 244, 225);
  padding: 10%;
  text-align: center;
  line-height: 1.6;
}
form h2 {
  font-size: 4vw;
}
form .input-btn {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
form input {
  padding: 2%;
  border-style: hidden;
  border-bottom: 1px solid black;
  background-color: rgb(255, 244, 225);
  text-align: left;
}
form input:focus {
  outline: none;
}
form button {
  padding: 2%;
  border-style: none;
  border-radius: 3em;
  background-color: rgb(249, 187, 68);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
form button:hover {
  background-color: rgb(235, 224, 162);
}

.footer {
  height: 20rem;
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(249, 187, 68);
  font-size: 0.9em;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.socials span {
  display: block;
  text-align: left;
}
.socials .puma-logo_footer {
  height: 5rem;
}
.socials .socials-icons {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}
.socials .socials-icons svg {
  fill: black;
}

.support-items {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
}
.support-items a {
  color: black;
  text-decoration: none;
}

.about-items {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1em;
}
.about-items a {
  color: black;
  text-decoration: none;
}

.references {
  background-color: rgb(249, 187, 68);
  border-top: 1px solid rgb(255, 244, 225);
}
.references ul {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-evenly;
  font-size: 0.8em;
}

@media all and (max-width: 1290px) {
  .collection-container-item {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .overview-text {
    padding: 1rem;
  }
}
@media all and (max-width: 1050px) {
  .footer {
    display: flex;
    flex-direction: column;
    height: 50rem;
  }
  .footer .socials {
    align-items: flex-start;
  }
  .footer .references ul {
    width: 100%;
  }
  .footer span,
.footer ul {
    align-self: flex-end;
  }
  .footer span {
    margin-top: -5em;
  }
}
@media all and (max-width: 768px) {
  .form input,
.form button {
    display: block;
    margin: 10% auto;
  }

  .overview-text h1,
.overview-text p {
    text-align: left;
    line-height: 1.8;
  }

  .socials {
    flex-direction: row;
    justify-content: space-between;
  }

  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
    align-self: center;
  }

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .page-links {
    margin: 2rem;
    flex-direction: column;
    gap: 2rem;
    align-self: center;
    align-items: center;
  }

  .nav-links.active {
    display: flex;
  }
}
@media (prefers-color-scheme: dark) {
  #header,
.nav-bar,
#collection {
    background-color: black;
    color: rgb(249, 187, 68);
  }

  #bar {
    background-color: rgb(249, 187, 68);
  }

  #nav-list {
    color: rgb(249, 187, 68);
  }

  .overview-text h1,
.overview-text p {
    color: rgb(249, 187, 68);
  }

  .collection h3 {
    color: rgb(249, 187, 68);
    background-color: rgb(235, 224, 162);
  }

  .form {
    background-color: rgb(249, 187, 68);
  }

  form {
    background-color: rgb(235, 224, 162);
  }
  form input {
    background-color: rgb(235, 224, 162);
  }

  footer span {
    color: rgb(249, 187, 68);
  }
  footer .puma-logo {
    color: rgb(249, 187, 68);
    fill: rgb(249, 187, 68);
  }

  #footer-icons {
    fill: rgb(249, 187, 68);
  }

  .support h2 {
    color: rgb(249, 187, 68);
  }

  .support-items a {
    color: rgb(249, 187, 68);
  }

  .about h2,
.about a {
    color: rgb(249, 187, 68);
  }

  .references {
    background-color: black;
  }
  .references li {
    color: rgb(249, 187, 68);
  }

  .footer {
    background-color: black;
  }
}

/*# sourceMappingURL=main.css.map */
