$clr-primary_red: rgb(235, 83, 83);
$clr-primary_orange: rgb(238, 127, 71);
$clr-primary_yellow: rgb(249, 187, 68);
$clr-primary_blue: rgb(60, 97, 141);
$clr-primary_green: rgb(32, 105, 86);

$clr-primary_pink: rgb(243, 151, 130);
$clr-primary_light: rgb(255, 244, 225);

$clr-secondary_blue: rgb(4, 33, 44);
$clr-secondary_green: rgb(219, 250, 237);
$clr-secondary_yellow: rgb(235, 224, 162);

$clr-tertiary_yellow: rgb(241, 218, 87);

$clr-dark_yellow: rgb(67, 46, 7);
