html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

* {
   margin: 0;
   padding: 0;
   font-family: "Rubik", sans-serif;
   line-height: 1.6;
}

body {
   line-height: 1.3;
   font-size: 1.5rem;
   text-align: center;
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-bar {
   padding: 1.5% 3%;
   width: 100vw;
   max-width: 100vw;

   justify-content: space-between;
}

.nav-bar a {
   cursor: pointer;
}

.puma-logo {
   height: auto;
   width: 5%;
}
.container-one {
   width: 100vw;
   height: 100vh;
   background-color: rgb(249, 187, 68);
}

.thank-con {
   background-color: antiquewhite;
   border-radius: 1rem;
   height: 60vmin;
   width: 60vmin;
   min-width: 60vmin;
   min-height: 60vmin;
   max-width: 60vmin;
   max-height: 60vmin;
   flex-direction: column;
   padding: 2rem;
}

.check {
   font-size: 10vw;
}

.email {
   font-weight: bold;
}

p {
   font-size: 2vw;
}
