@use "../abstracts/" as *;

@media all and (max-width: 1290px) {
   .collection-container-item {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
   }

   .overview-text {
      padding: 1rem;
   }
}

@media all and (max-width: 1050px) {
   .footer {
      display: flex;
      flex-direction: column;
      height: 50rem;

      .socials {
         align-items: flex-start;
      }

      .references ul {
         width: 100%;
      }
      span,
      ul {
         align-self: flex-end;
      }
      span {
         margin-top: -5em;
      }
   }
}

//
@media all and (max-width: 768px) {
   .form {
      input,
      button {
         display: block;
         margin: 10% auto;
      }
   }

   .overview-text {
      h1,
      p {
         text-align: left;
         line-height: 1.8;
      }
   }
   .socials {
      flex-direction: row;
      justify-content: space-between;
   }
   .toggle-button {
      display: flex;
   }

   .nav-links {
      display: none;
      align-self: center;
   }

   .nav-bar {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
   }

   .page-links {
      margin: 2rem;
      flex-direction: column;
      gap: 2rem;
      align-self: center;
      align-items: center;
   }

   .nav-links.active {
      display: flex;
   }
}

@media (prefers-color-scheme: dark) {
   #header,
   .nav-bar,
   #collection {
      background-color: black;
      color: $clr-primary_yellow;
   }

   #bar {
      background-color: $clr-primary_yellow;
   }

   #nav-list {
      color: $clr-primary_yellow;
   }

   .overview-text {
      h1,
      p {
         color: $clr-primary_yellow;
      }
   }

   .collection {
      h3 {
         color: $clr-primary_yellow;
         background-color: $clr-secondary_yellow;
      }
   }

   .form {
      background-color: $clr-primary_yellow;
   }

   form {
      background-color: $clr-secondary_yellow;
   }

   footer {
      span {
         color: $clr-primary_yellow;
      }
      .puma-logo {
         color: $clr-primary_yellow;
         fill: $clr-primary_yellow;
      }
   }

   #footer-icons {
      fill: $clr-primary_yellow;
   }
   .support {
      h2 {
         color: $clr-primary_yellow;
      }
   }

   .support-items {
      a {
         color: $clr-primary_yellow;
      }
   }

   .about {
      h2,
      a {
         color: $clr-primary_yellow;
      }
   }

   .references {
      background-color: black;
      li {
         color: $clr-primary_yellow;
      }
   }
   .footer {
      background-color: black;
   }
}
