@use "../abstracts/" as *;

.collection-container-main {
   padding-top: 2rem;
   background-color: $clr-primary_yellow;
   width: 100%;
   h1 {
      width: 100%;
      text-align: center;
      font-size: 4vw;
   }
}
.collection-container-item {
   display: flex;
   justify-content: space-evenly;
   padding: 5rem 0 5rem 0;
   width: 100%;

   h3 {
      position: relative;
      color: black;
      background-color: $clr-primary_light;
      border-radius: 1rem;
      font-size: 1.5vw;
      padding: 1rem;
      margin: 1.7em;
   }
   .collection {
      color: $clr-primary_light;
      font-size: 2rem;
      background-position-x: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-end;

      @include vmin(50vmin);
   }
   .bg-spectra {
      background-image: url(/images/spectra/kj.jpg);
   }

   .bg-desert {
      background-image: url(/images/desert/Puma-Thunder-Desert-06.jpg);
   }

   .bg-bw {
      background-image: url(/images/bw/212.webp);
   }
}
