@use "../abstracts/" as *;

.form {
   height: 50rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: $clr-primary_yellow;
}

form {
   background-color: $clr-primary_light;
   border-radius: 1em;
   padding: 5rem;
   text-align: center;
   line-height: 1.6;

   h2 {
      font-size: 3rem;
   }

   input,
   button {
      margin-top: 2rem;
      font-size: 1.5em;
      padding: 1rem;
      border: 1px solid #cad3db;
      border-radius: 0.5rem;
   }

   button {
      cursor: pointer;
   }
}
