@use "../abstracts/" as *;

#header {
   height: 100%;
   width: 100%;
   background-color: $clr-primary_yellow;
}

// NAV BAR

.nav-bar {
   width: 100%;
   min-height: 13vmin;
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 10rem;
   padding: 1em 10%;
   font-weight: 400;
   font-size: 0.8rem;
   position: fixed;
   z-index: 9999;
   background-color: $clr-primary_yellow;

   a,
   .puma-logo {
      transition: all 0.3s ease;
      &:hover {
         color: white;
      }
   }

   span {
      cursor: pointer;
      &:hover {
         font-weight: bold;
      }
   }

   .puma-logo {
      height: auto;
      width: 3.5rem;
      cursor: pointer;
   }
   .nav-links {
      flex: 1;
   }

   .page-links {
      display: flex;
      justify-content: space-around;
      flex-grow: 1;
   }
}

.toggle-button {
   position: absolute;
   top: 1.4rem;
   right: 2rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 31px;
   height: 21px;

   .bar {
      height: 3px;
      width: 100%;
      background-color: black;
      border-radius: 10px;
   }
}

// HEADER MAIN CONTENT

.main {
   padding: 20%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   line-height: 0.9;

   &::before {
      content: "";
      position: absolute;
      height: 35vw;
      width: 35vw;

      background-color: $clr-secondary_yellow;
      border-radius: 50%;
      transform: translate(0vw, 15%);
   }

   div {
      position: absolute;
      display: flex;

      img {
         position: relative;
         height: auto;
         width: 50vw;
         top: -2vw;
         z-index: 2;
      }
   }

   h1 {
      font-size: 14vw;
      z-index: 1;
   }

   .puma {
      align-self: flex-start;
      margin-top: 9vw;
   }

   .thunder {
      align-self: flex-end;
   }
}
