.overview-container {
   // display: flex;
   position: relative;

   .video {
      position: fixed;

      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
      filter: brightness(30%);
   }

   .overview-text {
      font-size: 2.4vw;
      padding: 10%;
      color: white;
      text-align: center;
   }
}
